*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: antiquewhite;
}

header{
    width: 100%;
    z-index: 1;
    position: fixed;
}

section{
    display: flex;
    flex-direction: column;
    color: #fff;
}

h3{
    font-size: 2rem;
}

.container{
    width: 30%;
    z-index: 3;
    margin-top: 11rem;
}

.joke{
    min-height: 9rem;
}

.score{
    visibility: hidden;
}

.emoji{
    font-size: 2rem;
}

.emoji:hover{
    transform: scale(1.20);
    -webkit-transform: scale(1.20);
    transition: .3s;
}

.fondo{
    z-index: 2;
}

.svgLeft, .svgCenter, .svgRight{
    /* transform: translate(25%, -50%); */
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    /* position: relative; */
    height: 100vh;
    /* border: 1px solid red; */
}


.svgLeft{
    background-image: url('/img/icon1.svg');
    background-size: 20%;
    top: 25%;
    left: -35%;
}

.svgCenter{
    background-image: url('/img/icon2.svg');
    background-size: 75%;
    top: 0%;
    left: 0%;
}

.svgRight{
    background-image: url('/img/icon3.svg');
    background-size: 20%;
    top: -40%;
    left: 40%;
}